<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/cv-print.css" type="text/css" rel="stylesheet" media="print">
  <link href="media/foundation-icons/foundation-icons.css" type="text/css" rel="stylesheet" >

  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?a67e94481d0e7e12ed2144c724c966ed";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>

</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>
